.container {
  padding: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  font-weight: bold;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.game-item {
  width: 100%;
  max-width: 300px;
  height: 100%;
  margin-bottom: 20px;
}


.game-link {
  text-decoration: none;
  color: inherit;
}

.game-image {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.game-image img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.game-image:hover img {
  transform: scale(1.1);
}

.game-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.game-details {
  margin-top: auto;
}

.game-price {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.game-genre {
  font-size: 14px;
  color: #888;
}

.game-footer {
  background-color: #f8f9fa;
  border-top: none;
  text-align: center;
}

.add-to-cart-btn {
  width: 100%;
  border-radius: 0;
}

.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: #0069d9;
}
