.navbar {
  background-color: #343a40;
  display: flex;
  justify-content: space-evenly;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: #fff;
}

.searchForm .form-control {
  border-color: #fff;
  color: #fff;
}

.searchForm .btn {
  background-color: #fff;
  color: #343a40;
  border-color: #fff;
  font-size: 16px;
}

.searchForm .btn:hover {
  background-color: #fff;
  color: #343a40;
  border-color: #fff;
}

.navbar-nav.ml-auto .nav-link {
  margin-left: 10px;
}

.profile-actions .nav-link {
  margin-left: 10px;
}

.profile-actions .btn-primary {
  background-color: #fff;
  color: #343a40;
  border-color: #fff;
  font-size: 16px;
  padding: 10px 20px;
}

.profile-actions .btn-primary:hover {
  background-color: #fff;
  color: #343a40;
  border-color: #fff;
}

@media (max-width: 991px) {
  .navbar-nav.ml-auto {
    margin-top: 10px;
  }
}
